API_KEY=<YOUR_API_KEY_HERE>
DEFAULT_MODEL=gemma4:31b-cloud
API_BASE_URL=https://ollama.com/v1/
OLLAMA_BASE_URL=http://localhost:11434 # default port for local Ollama instance; if you're using a hosted Ollama service, update this URL accordingly.
OLLAMA_EMBED_MODEL=qwen3-embedding:0.6b # ensure that this model is available in your local Ollama instance, or update to a model that is available.